body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: aqua;
}
.container {
      background: #fff;
      padding: 2rem;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 10px;
      width: 300px;
      background: url("/Assignment/Images/pyra1.jpg");
      }
      h2 {
      text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      }

      button:hover {
      background: #218838;
    }

    .toggle {
      margin-top: 15px;
      text-align: center;
      cursor: pointer;
      color: #007bff;
    }

    .form-group {
      display: none;
    }

    .form-group.active {
      display: block;
      }
