*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
     background-color: darkslategray;
     width: 30%;
     border-radius: 20px;
     /* text-align: center; */
}

form{
    margin: 10px;
}

.st{
    display: flex;
    flex-direction: column;
}

button{
    margin: 10px 15px;
    color: crimson;
    width:90%;
    display: block;
    padding: 8px;
    background-color: black;
}

.header{
    text-align: center;
}
.st label{
    margin: 10px 20px;
}
a{
    text-align: center;
}
